In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
import seaborn as sns
%matplotlib inline
plt.style.use('ggplot')

In [2]:
# Creating DataFrame df from CSV StandDF
df = pd.read_csv('CompDF1', index_col=0)


target = pd.read_csv('Targets', index_col=0)
df = pd.concat([target, df], axis=1, join_axes=[df.index])



# Displaying first five results 
df.head()

,I1,I2,I3,P_IPO,P_H,P_L,P_1DAY,Y1,Y2,C1,...,C7,C3',C5',C6',T4',T3',T5',S1',S2',S3'
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674.0,10.0,9.5,8.5,11.870000,0,1,2.086360,...,1.710498,1,1.351792,1.306758,0.640426,0.979660,-1.241958,0.172661,-2.012621,-1.937792
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834.0,8.0,10.0,8.0,7.250000,1,0,2.413300,...,1.413903,0,2.487306,0.000000,0.644753,1.275142,-1.031589,0.180641,-1.696991,-1.706058
2,ACAD,ACADIA PHARMACEUTICALS INC,2834.0,7.0,14.0,12.0,6.700000,1,0,1.954243,...,0.867939,0,1.214656,0.000000,0.636816,0.630286,-1.568923,0.171728,-2.562293,-2.302656
3,ACHN,ACHILLION PHARMACEUTICALS INC,2834.0,11.5,16.0,14.0,12.390000,1,1,2.320146,...,0.930745,0,1.193831,0.000000,0.539634,0.792975,-1.374089,0.187973,-2.309955,-2.039414
4,ACLI,AMERICAN COMMERCIAL LINES INC.,4492.0,21.0,21.0,19.0,56.599998,0,1,1.903090,...,2.800922,1,1.315407,1.195813,0.587413,1.045896,-1.223474,0.177183,-1.907621,-1.858090

In [3]:
###Doesnt like strings in DF had to make new_datase (note: this is just a trial DF,
###not all variable are included )

new_dataset = df.loc[:, ['I3','P_IPO', 'P_H', 'P_1DAY', 'Y1', 'Y2', 'C1', 'C7']]
new_dataset.head()

       I3  P_IPO   P_H     P_1DAY  Y1  Y2        C1        C7
0  3674.0   10.0   9.5  11.870000   0   1  2.086360  1.710498
1  2834.0    8.0  10.0   7.250000   1   0  2.413300  1.413903
2  2834.0    7.0  14.0   6.700000   1   0  1.954243  0.867939
3  2834.0   11.5  16.0  12.390000   1   1  2.320146  0.930745
4  4492.0   21.0  21.0  56.599998   0   1  1.903090  2.800922

In [46]:
#Based off of code snip Tao provided 
# Recursive Feature Elimination
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
# create a base classifier used to evaluate a subset of attributes
model = LogisticRegression()
# create the RFE model and select 3 attributes
rfe = RFE(model, 3)
rfe = rfe.fit(new_dataset, y)
# summarize the selection of the attributes
print(rfe.support_)
print(rfe.ranking_)

[False  True  True False  True False False False]
[6 1 1 5 1 3 2 4]

In [51]:
# Checking how many features this dataset have
print(len(new_dataset))

##this is so wrong

682