In [2]:
# Fixing Outliers using IQR method

In [3]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from scipy.stats import iqr

In [4]:
# Uploading imputed data to df from CSV WorkingDataFrame
df = pd.read_csv('WorkingDataFrame', index_col=0)

In [5]:
# Checking mean of columns BEFORE fixing outliers 
df.mean()

I3         4.871669e+03
P(IPO)     1.383519e+01
P(H)       1.547413e+01
P(L)       1.350749e+01
P(1Day)    2.557703e+01
C1         1.483504e+02
C2         8.636364e-01
C3         1.695003e+00
C4         7.341633e-03
C5         4.916458e+07
C6         1.237106e+07
C7         4.585873e+02
T1         4.656026e+02
T2         1.275756e+04
T3         1.139495e+04
T4         2.943314e+02
T5         6.791393e+02
S1         6.840909e+01
S2         1.200748e+02
S3         1.447434e+02
Y1         5.131965e-01
Y2         7.038123e-01
C3'        5.293255e-01
C5'        4.625317e+00
P(mid)     1.449081e+01
C6'        5.282669e+00
dtype: float64

In [6]:
temp_df=df.drop(['I1', 'I2', 'I3', 'Y1','Y2','P(mid)'], axis=1)
temp_df.head()

,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,C4,C5,C6,...,T2,T3,T4,T5,S1,S2,S3,C3',C5',C6'
0,10.0,9.5,8.5,11.870000,122.0,1.0,3.43,0.029074,40962052.0,10600000.0,...,12719.0,11560.0,301.0,690.0,62.0,117.0,139.0,1,3.864345,11.111111
1,8.0,10.0,8.0,7.250000,259.0,0.0,-1.62,-0.013352,28869196.0,2400000.0,...,21792.0,19585.0,510.0,1120.0,71.0,242.0,237.0,0,12.028832,0.000000
2,7.0,14.0,12.0,6.700000,90.0,1.0,-1.24,0.020715,16845668.0,5000000.0,...,5262.0,4785.0,128.0,325.0,61.0,33.0,60.0,0,3.369134,0.000000
3,11.5,16.0,14.0,12.390000,209.0,1.0,-0.91,0.020023,14848637.0,4500000.0,...,8259.0,7574.0,177.0,509.0,80.0,59.0,110.0,0,3.299697,0.000000
4,21.0,21.0,19.0,56.599998,80.0,1.0,0.07,-0.034895,30741716.0,8250000.0,...,14830.0,13176.0,336.0,720.0,67.0,149.0,167.0,1,3.726269,5.000000

In [22]:
Q1 = temp_df['P(IPO)'].quantile(0.25)
Q3 = temp_df['P(IPO)'].quantile(0.75)
IQR = iqr(temp_df['P(IPO)'])
print(Q1, Q3, IQR)

10.0 17.0 7.0

In [65]:
for x in temp_df['P(IPO)']:
    if x > (Q3 + (1.5*IQR)): 
        x = Q3
    elif x < (Q1 - (1.5*IQR)): 
        x = Q1
    else: 
        pass

In [66]:
print(temp_df[655:656])

     P(IPO)  P(H)  P(L)    P(1Day)    C1   C2    C3       C4           C5  \
655    28.0  26.0  24.0  48.689999  43.0  1.0  0.01 -0.04143  160290031.0

             C6  ...        T2       T3     T4     T5    S1    S2     S3  C3'  \
655  22750000.0  ...   13520.0  12211.0  315.0  722.0  57.0  70.0  129.0    1

          C5'   C6'
655  7.045716  12.0

[1 rows x 22 columns]