In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import RidgeCV, LassoCV, Ridge, Lasso

In [10]:
##Create a new DF from stand_df excluding columns T and S columns, added ratio equivalents
new_df = pd.read_csv('StandDF', usecols=['C1','C2','C3',
                                                     'C4','C5','C6','C7','Y1','Y2',"C3'","C5'","C6'","T4'","T3'","T5'","S1'","S2'","S3'" ])
new_df.head()

,C1,C2,C3,C4,C5,C6,C7,Y1,Y2,C3',C5',C6',T4',T3',T5',S1',S2',S3'
0,-0.175193,0.397360,0.010968,0.663539,-0.078977,-0.070832,-0.260654,-1.026751,0.648717,0.942972,-0.121925,0.541241,0.112962,-0.559157,-0.383993,0.785296,0.149560,0.203780
1,0.735662,-2.516611,-0.020955,-0.631805,-0.195412,-0.398784,-0.276917,0.973946,-1.541505,-1.060477,1.186213,-0.490559,0.026829,0.053878,-0.027744,0.010247,0.015851,-0.012833
2,-0.387947,0.397360,-0.018553,0.408314,-0.311179,-0.294799,-0.288795,0.973946,-1.541505,-1.060477,-0.201269,-0.490559,0.023381,0.050960,-0.029416,0.013524,0.012059,-0.011125
3,0.403233,0.397360,-0.016467,0.387190,-0.330407,-0.314796,-0.288060,0.973946,0.648717,-1.060477,-0.212395,-0.490559,0.045988,0.047121,-0.039578,-0.003129,0.016015,-0.016718
4,-0.454433,0.397360,-0.010272,-1.289555,-0.177382,-0.164818,0.111183,-1.026751,0.648717,0.942972,-0.144048,-0.026249,-0.000528,0.048306,-0.059095,0.005731,0.016783,-0.012009

In [ ]:
####Backward Elimination

In [19]:
array = new_df.values
X = array[:,:17] #features
Y = array[:,17] #target

In [20]:
# Import your necessary dependencies
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [26]:
#Adding constant column of ones, mandatory for sm.OLS model
X_1 = sm.add_constant(new_df)
#Fitting sm.OLS model
model = sm.OLS(Y, X_1).fit()
model.pvalues

const    0.834739
C1       0.008517
C2       0.000524
C3       0.038340
C4       0.072752
C5       0.000008
C6       0.028777
C7       0.008492
Y1       0.003011
Y2       0.005622
C3'      0.092322
C5'      0.004144
C6'      0.000376
T4'      0.000001
T3'      0.000599
T5'      0.000083
S1'      0.000073
S2'      0.551129
S3'      0.000000
dtype: float64

In [27]:
#Backward Elimination
cols = list(new_df.columns)
pmax = 1
while (len(cols)>0):
    p= []
    X_1 = new_df[cols]
    X_1 = sm.add_constant(X_1)
    model = sm.OLS(Y,X_1).fit()
    p = pd.Series(model.pvalues.values[1:],index = cols)      
    pmax = max(p)
    feature_with_p_max = p.idxmax()
    if(pmax>0.05):
        cols.remove(feature_with_p_max)
    else:
        break
selected_features_BE = cols
print(selected_features_BE)

['C1', 'C2', 'C3', 'C4', 'C5', "C6'", "T4'", "T5'", "S3'"]