In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
import seaborn as sns
%matplotlib inline
plt.style.use('ggplot')

In [2]:
# Creating DataFrame df from CSV StandDF
df = pd.read_csv('ReadyDF2', index_col=0)

## Separate target variables from Data Frame 
## Using .ravel() to create a contiguous flattened array to change the shape of (n_samples)


y1 =df.loc[:, ['Y1']].values.ravel()
y2 =df.loc[:, ['Y2']].values.ravel()

## Drop target variables from Data Frame 
df = df.drop(['Y1','Y2'], axis=1)

## Drop C6' from DF1 
df1 = df.drop(["C6'"], axis=1)

# Displaying first five results 
df.head()

,C1,C2,C4,C7,C3',C5',C6',T4',T3',T5',S1',S2',S3'
0,0.462810,1.0,0.749962,0.427561,1.0,0.476417,0.949896,0.534453,0.523574,0.466548,0.425373,0.436937,0.457490
1,0.589876,0.0,0.583748,0.340352,0.0,0.609551,0.000000,0.545989,0.887042,0.850134,0.492537,1.000000,0.854251
2,0.330579,1.0,0.717213,0.223303,0.0,0.410536,0.000000,0.524832,0.216722,0.140946,0.417910,0.058559,0.137652
3,0.822314,1.0,0.714502,0.234437,0.0,0.401299,0.000000,0.265799,0.343041,0.305085,0.559701,0.175676,0.340081
4,0.289256,1.0,0.499347,0.987789,1.0,0.458048,0.869249,0.393150,0.596766,0.493310,0.462687,0.581081,0.570850

In [3]:
df1.head()

,C1,C2,C4,C7,C3',C5',T4',T3',T5',S1',S2',S3'
0,0.462810,1.0,0.749962,0.427561,1.0,0.476417,0.534453,0.523574,0.466548,0.425373,0.436937,0.457490
1,0.589876,0.0,0.583748,0.340352,0.0,0.609551,0.545989,0.887042,0.850134,0.492537,1.000000,0.854251
2,0.330579,1.0,0.717213,0.223303,0.0,0.410536,0.524832,0.216722,0.140946,0.417910,0.058559,0.137652
3,0.822314,1.0,0.714502,0.234437,0.0,0.401299,0.265799,0.343041,0.305085,0.559701,0.175676,0.340081
4,0.289256,1.0,0.499347,0.987789,1.0,0.458048,0.393150,0.596766,0.493310,0.462687,0.581081,0.570850

In [4]:
###extra trees classifier to report feature importance, 

#The idea is whatever features passing the threshold would be selected

# Feature Importance
from sklearn import datasets
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier

# fit an Extra Trees model to the data; Target Variable 

model = ExtraTreesClassifier()
model.fit(df1, y1)
# display the relative importance of each attribute
fi_dict = dict(zip(df1.columns, model.feature_importances_))
sorted_dict = sorted(fi_dict.items(), key=lambda kv: kv[1])
sorted_dict

[('C2', 0.02402950181867654),
 ("C3'", 0.02899611836679642),
 ("S1'", 0.08019441955331641),
 ("S3'", 0.08915906786624098),
 ('C4', 0.09030394585045814),
 ('C1', 0.09331051353642265),
 ("C5'", 0.09646854375781556),
 ("T3'", 0.09755851361579816),
 ("S2'", 0.09950148001359296),
 ('C7', 0.0998403058182172),
 ("T4'", 0.10000466792585545),
 ("T5'", 0.10063292187680947)]

In [5]:
###extra trees classifier to report feature importance, 

#The idea is whatever features passing the threshold would be selected

# Feature Importance
from sklearn import datasets
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier

# fit an Extra Trees model to the data; Target Variable 

model = ExtraTreesClassifier()
model.fit(df, y2)
# display the relative importance of each attribute
fi_dict = dict(zip(df.columns, model.feature_importances_))
sorted_dict = sorted(fi_dict.items(), key=lambda kv: kv[1])
sorted_dict

[('C2', 0.020492993854570145),
 ("C3'", 0.03712265678027861),
 ('C7', 0.07624874706328325),
 ("C5'", 0.07745162368600914),
 ("C6'", 0.0799191413887505),
 ("T5'", 0.08044104046623343),
 ('C1', 0.08369961703366585),
 ("S1'", 0.08416935272374745),
 ("S2'", 0.08580903655877486),
 ("T3'", 0.09057603293017313),
 ("S3'", 0.09063450936085046),
 ("T4'", 0.09251275124372722),
 ('C4', 0.10092249690993593)]