In [3]:
# Binning Predictor Values

In [4]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing 
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.preprocessing import OneHotEncoder
%matplotlib inline
plt.style.use('ggplot')

In [5]:
# Using Target table with "Y" values beacuse we are dealing with categorical data 
df = pd.read_csv('ReadyDF2', index_col=0)
df.head(2)

,Y1,Y2,C1,C2,C4,C7,C3',C5',C6',T4',T3',T5',S1',S2',S3'
0,0,1,0.462810,1.0,0.749962,0.427561,1.0,0.476417,0.949896,0.534453,0.523574,0.466548,0.425373,0.436937,0.457490
1,1,0,0.589876,0.0,0.583748,0.340352,0.0,0.609551,0.000000,0.545989,0.887042,0.850134,0.492537,1.000000,0.854251

In [6]:
predictors = df.filter(['C4', "C6'", "T3'", "S2'"])

In [7]:
# converting to an array 
dfarray = predictors.values 
X = dfarray[:, 0:4]
X

array([[0.74996242, 0.94989615, 0.52357444, 0.43693694],
       [0.58374777, 0.        , 0.88704199, 1.        ],
       [0.71721278, 0.        , 0.21672177, 0.05855856],
       ...,
       [0.75525545, 0.        , 0.36532452, 0.27927928],
       [0.76253853, 0.90438951, 0.29190634, 0.08108108],
       [0.7327755 , 0.89748308, 0.47755786, 0.37387387]])

In [8]:
OHE = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
OHE.fit(X)
OHE_trans = OHE.transform(X)
OHE_trans
#my_C4 = OHE.transform(df.C4)
#df["C4_BIN"] = OHE.fit_transform(df[['C4']])

array([[2., 3., 2., 1.],
       [2., 0., 3., 3.],
       [2., 0., 0., 0.],
       ...,
       [3., 0., 1., 1.],
       [3., 3., 1., 0.],
       [2., 3., 1., 1.]])

In [9]:
OHE_trans = OHE_trans.astype(dtype='int64')

In [10]:
OHE_trans.dtype

dtype('int64')

In [11]:
ENC = OneHotEncoder(handle_unknown='ignore')
features = OHE_trans 
ENC.fit(features)

OneHotEncoder(categorical_features=None, categories=None,
       dtype=<class 'numpy.float64'>, handle_unknown='ignore',
       n_values=None, sparse=True)

In [12]:
names = ENC.get_feature_names()
names

array(['x0_0', 'x0_1', 'x0_2', 'x0_3', 'x1_0', 'x1_3', 'x2_0', 'x2_1',
       'x2_2', 'x2_3', 'x3_0', 'x3_1', 'x3_2', 'x3_3'], dtype=object)

In [13]:
OHE_labels = ENC.transform(features).toarray()
OHE_labels.shape

(682, 14)

In [14]:
OHE_labels

array([[0., 0., 1., ..., 1., 0., 0.],
       [0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.]])

In [15]:
ENC_DF = pd.DataFrame(OHE_labels, columns=['C4_0','C4_1', 'C4_2', 'C4_3', "C6'_0", "C6'_1", "T3'_0",  "T3'_1",  "T3'_2",  "T3'_3",  "S2'_0",  "S2'_1",  "S2'_2",  "S2'_3"])
ENC_DF.head()

,C4_0,C4_1,C4_2,C4_3,C6'_0,C6'_1,T3'_0,T3'_1,T3'_2,T3'_3,S2'_0,S2'_1,S2'_2,S2'_3
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [16]:
df = pd.concat([ENC_DF,df], axis=1)

In [17]:
# Exporting DataFrame as CSV 
df.to_csv('BinDF2', ',')