# Final Notebook

**Competition #1 - Juliana Hoffmann, Kendall Stopa & Jonathan Uy**

# Descriptive Statistics - Part 1

**Data Exploration in Excel**

To handle our data in Jupyter Lab, we first wanted to explore the data in Excel. 
Here we discovered many missing values scattered across the Excel that we would handle within the notebook through imputation. 
The missing values we did handle were the 8 missing values in the the I3 columns. The numbers listed here are SIC codes which we looked up through SICCODE.com to fill in the blanks and manually type them in the speadsheet. Next, in the I3 column, we discovered a handful of NAICS codes which we translated to the SIC code equivalent. Lastly, for the values in the I3 column that had multiple SIC codes per row, we used SIC Code to determine the primary SIC Code and imputated those manually in Excel. 

Later on through our competition notebooks, we discovered that there were -1 values that could not be ignored to calculate the ratio values later on in the notebook. In T5 (Row 7) and S1 (Row 134) we manually imputed those in the Excel using Jupyter to calculate the median of each column which was used in place of the -1. 

Lastly, the names of the columns such as P(IPO) used parantheses in the title. We ran into issues creating new columns from these columns that containted parantheses in the title. To avoid such issues, we alter the names from P(IPO) to P_IPO, P(H) to P_H, P(L) to P_L and lastly P(1Day) to P_1DAY. 

These are the only changes that we manually made to the Excel file. These changes are reflected in the CSV: [Competition1_raw_data_fixed](https://ba-lab.fairfield.edu/user/jhoffmann/lab/tree/2019-competition1-jkj/Competition1_raw_data_fixed.xlsx)

**Data Exploration in Jupyter Lab**

Once we imported our CSV file as DataFrame, we began to explore the data within Jupyter Lab. Using .info() we found the the '-' used to identify a null value in the DataFrame was not being recognized as a null entry. To resolve this issue, we replaced the '-' with NaN. Once running the .info() again, the NaN entries were being identified as null values. 

Here is a breakdown of the values we were missing: 
* P_IPO - 5 missing 
* P_H - 10 missing